<fieldset id="create_form">
  <legend>New User Match</legend>
  <p>Are you</p>
  <%= form_tag create_current_user_match_path do %>
    <%= submit_tag "Home" %>
  <% end %>
  <p>or</p>
  <%= form_tag create_current_user_match_path do %>
    <%= submit_tag "Away" %>
  <% end %>
  <p>?</p>
</fieldset>