var selector = "#q_tennis_court_id_eq"
var current_value = $(selector).val();
$(selector).find("option").remove();
$(selector).append("<option value=>Select Court</option>");
<% @tennis_courts.each do |tennis_court| %>
   $(selector).append("<option value='<%=tennis_court.id%>'><%=tennis_court.full_name%></option>");
<% end %>
if(current_value != "")
{
	var options = $(selector)[0].options;
	var option;
	is_set = false;
	for(var i=0; i<options.length; i++)
	{
		option = options[i];
		if(option.value == current_value)
		{
			$(selector).val(current_value);
			is_set = True;
			break;
		}
	}
	if(!is_set)
	{
		$(selector).val(options[0].val);
	}
}
else
{
	$(selector).val(options[0].val);
}